<div class="navbar mb-2">
  <div class="flex-1 px-2 mx-2">
    <span class="text-lg font-bold">
        SpaceJam
    </span>
  </div> 
  <div class="flex-0 hidden px-2 mx-2 lg:flex">
    <div class="flex items-stretch">
      <a class="btn btn-secondary btn-sm rounded-btn">
           Rent your space
      </a> 
      <a class="btn btn-ghost btn-sm rounded-btn">
            Help
      </a> 
      <a class="btn btn-ghost btn-sm rounded-btn">
            Sign up
      </a> 
      <a class="btn btn-ghost btn-sm rounded-btn">
             Log in 
      </a>
    </div>
  </div> 
</div>
