{% extends "base.jinja" %}
{% block main_content %}
    <div class="px-16">
        <form hx-trigger="change" hx-target="#results" hx-get="/api/spaces.html/">
            <div class="form-control">
                <input name="search"
                       id="search-input"
                       type="text"
                       hx-get="/api/spaces.html"
                       hx-trigger="keyup changed delay:500ms, search"
                       hx-include="input[name='place'],select[name='distance']"
                       hx-target="#search-results"
                       placeholder="Search"
                       autocomplete="off"
                       class="input input-primary rounded-b-none focus:z-10"/>
                <div class="flex">
                    <select name="distance"
                            class="w-1/4 select select-primary rounded-r-none rounded-t-none focus:z-10">
                        <option disabled="disabled" selected="selected">
                            Distance
                        </option>
                        <option>
                            1 mile
                        </option>
                        <option>
                            5 miles
                        </option>
                        <option>
                            10 miles
                        </option>
                    </select>
                    <input name="place"
                           type="text"
                           placeholder="Zip Code or Place"
                            autocomplete="off"
                           class="flex-auto input input-primary rounded-l-none rounded-t-none focus:z-10"/>
                </div>
            </form>
        </div>
        <div id="search-results">{% include "space-list.jinja" %}</div>
    </div>
{% endblock main_content %}
