<div class="form-control">
  <input type="text" placeholder="Search" 
         class="input input-primary input-bordered rounded-l-none">
  <div class="flex flex-wrap">
    <span>within</span>
    <select class="select select-bordered select-primary rounded-r-none">
      <option disabled="disabled" selected="selected">Choose your superpower</option> 
      <option>telekinesis</option> 
      <option>time travel</option> 
      <option>invisibility</option>
    </select>
    <div class="divider lg:divider-vertical">of</div> 
    <input type="text" placeholder="Zip Code or Place" 
           class="input input-primary input-bordered rounded-l-none">
  </div>
</div> 