<div class="overflow-x-auto">
    <table class="table w-full">
        <tbody>
            {% for result in results %}
                <tr>
                    <div>{{ result.title }}</div>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
